<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Restaurant Chefs - Welcome to Our Restaurant</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
            font-family: Arial, sans-serif;
        }
        h1 {
            color: #333;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to Our Restaurant</h1>
</header>
<main>
    <h2>Choose a chef:</h2>
    <form action="/dish" method="POST">
        <div th:each="chef : ${chefs}">
            <input type="radio" name="chefId" th:value="${chef.id}" required>
            <span th:text="'Name: ' + ${chef.firstName} + ' ' + ${chef.lastName} + ', Bio: ' + ${chef.bio}"></span>
            <br/>
        </div>
        <br/>
        <input type="submit" value="Submit">
    </form>
</main>
</body>
</html>